results/
data/raw/
data/processed/interim/
data/processed/tentative/
src/classes/test/
src/utils/old_convinience/
src/main/main_makeAllFigures_beforeRevise.m
demonstrations_backup.m
main_script_backup.m
sandboxes/

.DS_Store
*.asv
